
body { 
  background: url(b) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*
body {
	font-size:20px;
	background-image:url("b");
}
*/
/* {
  margin: 0;
  padding: 0;
}
*/ 
nav {
  margin: 50px;
}
 
ul {
  overflow: auto;
  list-style-type: none;
}
.opponentcard
{
  background-image:url("b2");
  background-size: 120px 180px;
}

.playcard {
  display: inline-block;
  font-size:30px;
  height: 180px;
  line-height:175px;
  width:120px;
  margin-right: 0px;
/*  
  background-color:#fff;
  border-right: 1px solid #aaa;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 0 20px;  
  background-color:#fff;
*/
  }
/* 
  span.mesaj {
  display: inline-block;
  font-size:18px;
  line-height:50px;
  paddind-top: 60px;
  margin-right: 20px;
  border-right: 1px solid #aaa;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 20px 20px;  
  background-color: #43CDAB;
  }
 */
li2 {
  height: 115px;
  width:75px;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  line-height:120px;
  border-right: 1px solid #aaa;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 0 20px;
  font-size:15px;
  background-color:#fff;
    
}
li
	{
	float: left;
	}
li3 {
  height: 115px;
  width:75px;
  margin-right: 0px;
  margin-top: 0px;
  line-height:120px;
  border-right: 0px solid #aaa;
  border-top: 0px solid #aaa;
  border-left: 0px solid #aaa;
  border-bottom: 0px solid #aaa;
  padding: 0 0px;
  font-size:15px; 
}
 
#player
{
	color:red;
}
 
li a {
  text-decoration: none;
  color: red;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.room
{
	width: 150px;
    height: 150px;
    vertical-align: middle;
    list-style-position: inside;
    border: 1px solid black;
	margin-right: 5px;
	margin-bottom: 5px;
}

.room:hover
{
background-color:lightgrey;}
.room-span
{
	
}

.room-div
{
	text-align: center;
	display:table-cell; 
	vertical-align:middle;
	height: 150px;
	width: 150px;
	font-size:large;
}

li2:hover {
  background-color: #DDD;
}
 
li2.active a {
  font-weight: bold;
  color: #333;
}

ul2:hover li {
    opacity: .5;
}

ul li2:hover {
    opacity: 1;
}
img {
    vertical-align: top;
}